<div class="response">
  <h3><i class="fa fa-user"></i> <%= response.user ? response.user.name : 'Default' %></h3>
  <p><%= response.content %></p>

  <span><i class="fa fa-comments"></i> Comments</span>
  <%= link_to 'Add Comment', new_response_comment_path(response) %>
  <% response.comments.each do |comment| %>
    <%= render partial: 'comment', locals: {comment: comment} %>
  <% end %>
   <button data-id="<%= response.id %>" class="upvote">UpVote</button>
</div>
