<div class="response">

  <h3><i class="fa fa-user"></i> <%= response.user ? response.user.name : 'Default' %></h3>
  <div class="vote">
    <button data-id="<%= response.id %>" class="upvote">UpVote</button>
  </div>
  <p><%= response.content %></p>

  <% if response.user.id == session[:current_user] %>
    <%= link_to 'Edit', edit_response_path(response) %>
    <%= link_to 'Delete', response, method: :delete, data: {confirm: "You sure bub?" } %>
  <% end %>

  <span><i class="fa fa-comments"></i> Comments</span>

  <% if session[:current_user] %>
    <%= link_to 'Add Comment', new_response_comment_path(response) %>
  <% end %>

  <% response.comments.each do |comment| %>
    <%= render partial: 'comment', locals: {comment: comment} %>
  <% end %>
</div>
