<div class="response">
  <h3><i class="fa fa-user"></i> <%= response.user ? response.user.name : 'Default' %></h3>
  <div class="vote">
    <div class="votecount">
      <a data-id="<%= response.id %>" class="upvote">&#65514;</a>
      <% if response.votes.count == 1 %>
        <span data-id="<%= response.id %>"> <%= response.votes.count %> vote</span>
      <% else %>
        <span data-id="<%= response.id %>"> <%= response.votes.count %> votes</span>
      <% end %>
    </div>
  </div>
  <p><%= response.content %></p>

  <span><i class="fa fa-comments"></i> Comments</span>
  <%= link_to 'Add Comment', new_response_comment_path(response) %>
  <% response.comments.each do |comment| %>
    <%= render partial: 'comment', locals: {comment: comment} %>
  <% end %>
</div>
