<div class="response <%= 'best-response' if best_response?(response) %>">

  <div class="response-header clearfix">

    <h3><%= link_to user_path(response.user) do %><%= response.user.name.capitalize %><% end %> <em>@ <%= response.created_at.strftime("%-d %b %Y, %H:%M") %></em></h3>

    <ul class="response-menu">
      <% if response.question.user.id == session[:current_user] && !best_response?(response) %>
        <li>
          <%= link_to mark_best_response_path(response), class: 'mark-as-best', data: { id: response.id } do %>
            <i class="fa fa-check-circle"></i> Mark as best
          <% end %>
        </li>
      <% end %>

      <li>
      <% if response.user.id == session[:current_user] %>
        <%= link_to edit_response_path(response) do %>
          <i class="fa fa-edit"></i> Edit
        <% end %>
      </li>
      <li>
        <%= link_to response, method: :delete, data: {confirm: "You sure bub?" } do %>
          <i class="fa fa-trash"></i> Delete
        <% end %>
      </li>
      <% end %>

      <li>
        <% if session[:current_user] %>
          <%= link_to '#', class: 'upvote', data: { id: response.id } do %>
            <i class="fa fa-thumbs-up"></i> Vote up
          <% end %>
        <% end %>
      </li>

      <li>
        <% if response.votes.count == 1 %>
          <span data-id="<%= response.id %>"> <%= response.votes.count %> vote</span>
        <% else %>
          <span data-id="<%= response.id %>"> <%= response.votes.count %> votes</span>
        <% end %>
      </li>
    </ul>

  </div>

  <% if best_response?(response) %>
    <div class="best-response-mark">
      <i class="fa fa-check-circle"></i> Best Answer
    </div>
  <% end %>

  <div class="response-content">
    <p><%= response.content %></p>
  </div>

  <% if session[:current_user] %>
    <div class="create-comment">
      <%= button_to 'Add Comment', new_response_comment_path(response), { class: "button-blue create-comment-button" } %>
    </div>
  <% end %>

  <% response.comments.each do |comment| %>
    <%= render partial: 'comment', locals: {comment: comment} %>
  <% end %>

</div>
