<%= render '/form_modals' %>

<div class="wrapper">

  <header class="question-header clearfix col-12">

    <p id="notice"><%= notice %></p>

    <h2><%= @question.title.capitalize %></h2>

    <%= link_to(@question.image_path) do %>
      <img src=<%= @question.image_path %> class="rounded">
    <% end %>

    <% if @question.user.id == session[:current_user] %>
      <div class="question-menu">
        <%= link_to edit_question_path(@question) do %>
          <i class="fa fa-edit"></i> Edit
        <% end %>
        <%= link_to question_path, method: :delete, data: {confirm: "Are you sure?" } do %>
          <i class="fa fa-trash"></i> Delete
        <% end %>
      </div>
    <% end %>

  </header>

  <section class="question-content col-center col-6 clearfix">

    <% if session[:current_user] %>
      <%= link_to 'Create Response', new_question_response_path(@question) %>
    <% end %>

    <div class="responses-list">
      <% @question.responses.each do |response| %>
        <%= render partial: 'response', locals: {response: response} %>
      <% end %>
    </div>

  </section>

</div>
