<%= form_for(@user, url:signup_path) do |f| %>
  <div class="actions">
    <%= f.text_field :name, placeholder: "Name", :required => true%><br>
    <%= f.text_field :email, placeholder: "Email", :required => true %><br>
    <%= f.text_field :password,placeholder: "Password", :required => true %><br>
    <%= f.text_field :password_confirmation,placeholder: "Confirm Password", :required => true %><br>
    <%= f.submit %>
  </div>
<% end %>